# ignore all files in root
/*.*

# npm e composer
node_modules
.cache
/vendor
/dist

# ignore log files and databases
.phpintel
.htaccess
.DS_Store
*.log
*.sql
*.sqlite
*.zip
*.tgz
*.gz
*.tar
*.tar.gz
*.lock

# files to keep
!.gitignore
!.gitlab-ci.yml
!README.md
!composer.json
!composer.lock

# themes to keep
# Uncomment to keep these theme
!wp-content/themes/ck

# plugins to keep
!wp-content/plugins/acf-repeater
